<!-- About Section -->
   <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Sobre Nós</h2>
                    <h3 class="section-subheading text-muted">Conhecimento técnico, experiência, ética e compromisso</h3>
                    <img src="img/kisspng-lady-justice-measuring-scales.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 text-justify">
                <div class="large text-muted">
                  <br>
                  <br>
                  <br>
                  <ul>
                <li>Mais de dezessete anos de atuação na área jurídica consultiva e contenciosa</li>
                <li>Experiência profissional internacional - Portugal, América Central, América do Norte e do Sul</li>
                <li>Atendimento remoto por Skype, WhatsApp e FaceTime</li>
                <li>Expertise no uso de ferramentas de tecnologia</li>
                <li>Proficiência linguística - Inglês, Espanhol e Português</li>
                <li>Excelência e pontualidade</li>
                </ul>
              </div>
                </div>
            </div>
        </div>
    </section>


